
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <img src="~/Content/images/letgo.png" id="navpic">



    <form class="form-inline">
        <button type="button" class="btn btn-danger navbut">Eşyalarını Sat <i class="fas fa-camera"></i></button>
        <button type="button" class="btn btn-danger navbut"><i class="far fa-comments"></i></button>
        <button type="button" class="btn btn-danger navbut"><i class="fas fa-bell"></i></button>
        <button type="button" class="btn btn-danger navbut"><i class="fas fa-user"></i></button>
    </form>
</nav>